<div class="container">
  <h2 class="margin-inner"><%= @cocktail.name %></h2>

  <h3>Ingredients</h3>
  <ul>
      <% @cocktail.doses.each do |dose| %>
      <li>
        <%= dose.description %> <%= dose.ingredient.name %>
      <%= link_to dose_path(dose),
        method: :delete,
        data: { confirm: "Are you sure?" } do %>
    <i class="far fa-trash-alt"></i>
    <% end %>
      <% end %>
      </li>
    </ul>

  <div>
    <br>
    <h4>Add ingredients</h4>
    <%= render 'doses/form' %>
  </div>

  <div>
    <%= link_to cocktails_path do %>
      <i class="fas fa-undo-alt"></i> Back to list
    <% end %>
  </div>
</div>

